.loader {
    display: block;
    height: 24px;
    overflow: visible;
    width: 80px;
    height: 80px;
    vector-effect: non-scaling-stroke;
}

.loader path.fill {
  fill: #2af2;
  animation: fill 4s ease-in-out infinite;
}

.loader .dash path {
  stroke: var(--color-neon);
  stroke-width: 2px;
  stroke-linecap: round;
  animation: dashArray 2s ease-in-out infinite, dashOffset 2s linear infinite;
}

.loader .dash path.big {
  stroke-width: 2px;
  filter: drop-shadow(0 0 1px var(--color-neon-shadow));
}

@keyframes dashArray {
  0% {
    stroke-dasharray: 0 1 359 0;
  }
  50% {
    stroke-dasharray: 0 359 1 0;
  }
  100% {
    stroke-dasharray: 359 1 0 0;
  }
}

@keyframes dashOffset {
  0% {
    stroke-dashoffset: -365;
  }
  100% {
    stroke-dashoffset: -365;
  }
}

@keyframes fill {
  30%,
  55% {
    fill: #2af0;
  }
}
