<div class="container-maps">
    <div class="cardMap" (click)="onSelect('de_mirage')">
        <img class="map-image" src="assets/images/maps/de_mirage.png" alt="">
        <img class="logo-map" src="assets/images/logo-maps/de_mirage.png" alt="Mirage map">
    </div>
    <div class="cardMap" (click)="onSelect('de_nuke')">
        <img class="map-image" src="assets/images/maps/de_nuke.png" alt="">
        <img class="logo-map" src="assets/images/logo-maps/de_nuke.png" alt="Nuke map">
    </div>
    <div class="cardMap" (click)="onSelect('de_overpass')">
        <img class="map-image" src="assets/images/maps/de_overpass.png" alt="">
        <img class="logo-map" src="assets/images/logo-maps/de_overpass.png" alt="Overpass map">
    </div>
    <div class="cardMap" (click)="onSelect('de_inferno')">
        <img class="map-image" src="assets/images/maps/de_inferno.png" alt="">
        <img class="logo-map" src="assets/images/logo-maps/de_inferno.png" alt="Inferno map">
    </div>
    <div class="cardMap" (click)="onSelect('de_dust2')">
        <img class="map-image" src="assets/images/maps/de_dust2.png" alt="">
        <img class="logo-map" src="assets/images/logo-maps/de_dust2.png" alt="Dust2 map">
    </div>
    <div class="cardMap" (click)="onSelect('de_train')">
        <img class="map-image" src="assets/images/maps/de_train.png" alt="">
        <img class="logo-map" src="assets/images/logo-maps/de_train.png" alt="Train map">
    </div>

    <div class="cardMap" (click)="onSelect('de_cache')">
        <img class="map-image" src="assets/images/maps/de_cache.png" alt="">
        <img class="logo-map" src="assets/images/logo-maps/de_cache.png" alt="Cache map">
    </div>
    <div class="cardMap" (click)="onSelect('de_vertigo')">
        <img class="map-image" src="assets/images/maps/de_vertigo.png" alt="">
        <img class="logo-map" src="assets/images/logo-maps/de_vertigo.png" alt="Vertigo map">
    </div>
    <div class="cardMap" (click)="onSelect('de_anubis')">
        <img class="map-image" src="assets/images/maps/de_anubis.png" alt="">
        <img class="logo-map" src="assets/images/logo-maps/de_anubis.png" alt="Anubis map">
    </div>
    <div class="cardMap" (click)="onSelect('de_ancient')">
        <img class="map-image" src="assets/images/maps/de_ancient.png" alt="">
        <img class="logo-map" src="assets/images/logo-maps/de_ancient.png" alt="Ancient map">
    </div>
</div>

