<div 
  class="container-maps" 
  [class.collapsed]="isCollapsed()"
  [class.exiting]="isExiting()"
  [class.is-deck-exiting]="isDeckExiting()"
  [class.expanding]="isExpanding()"
  (click)="isCollapsed() ? expand() : null" >

  @for (map of maps; track map.id; let i = $index) {
    <div 
      class="cardMap" 
      [class.active]="selected() === map.id"
      (click)="onCardClick(map.id); $event.stopPropagation()"
      style="--index: {{i}};" 
    >
        <img class="map-image" [src]="'assets/images/maps/' + map.id + '.png'" alt="" draggable="false">
        <img class="logo-map" [src]="'assets/images/logo-maps/' + map.id + '.png'" [alt]="map.name" draggable="false">
    </div>
  }

</div>
