<br>
<carousel-maps [collapsed]="!!selectedMap" [currentMap]="selectedMap" (selectedMap)="onSelectMap($event)"
  (collapseDone)="onCarouselCollapseDone()">
</carousel-maps>

<div @leftToRight (@leftToRight.done)="onRibbonAnimationDone($event)" *ngIf="!selectedMap && !isNavigating"
  class="ribbon-container">
  <div class="ribbon"><span>CHOOSE</span></div>
  <div class="ribbon"><span>ONE</span></div>
  <div class="ribbon"><span>MAP!</span></div>
</div>
<div *ngIf="mapVisible" class="flex items-center justify-center justify-evenly">
  <app-menu-sidebar [map]="selectedMap!" [isAddingNade]="isAddingNade" (addNade)="onAddNade()"></app-menu-sidebar>
  <app-mini-map [map]="selectedMap!" [nades]="currentMapNades" [isAddingNade]="isAddingNade"
    (onNadeCreated)="onNadeCreated($event)" (onCancelAdd)="onCancelAdd()">
  </app-mini-map>
</div>
