:host {
  background-color: #1e1e1e;
  height: 44px;
  display: block;
  width: 100%;
  padding: 0 14px;
  border: 2px solid #ffffff22;
  border-radius: 8px;
  color: #e0e0e0;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 2px 2px 4px #000000cc;
  transition: all 0.2s ease-in-out;
  outline: none;
}

:host:focus {
  background-color: #1e1e1e;
  border-color: var(--color-accent);
  box-shadow: 0 0 10px var(--color-accent), 2px 2px 6px #000;
  color: var(--color-accent);
}

:host:hover:not(:focus) {
  border-color: #76abae;
  color: #76abae;
  box-shadow: 0 0 6px #76abae, 2px 2px 5px #000;
  transition: all 0.2s ease-in-out;
}
