/* You can add global styles to this file, and also import other style files */
@import "@fontsource/goldman";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #141417;
  --color-secondary: #8585851b;
  --color-accent: rgb(0, 255, 255);
  --color-text: #eeeeee;
  --color-main-bg: #141417;
  --color-border-lines: #303030;
  --color-neon: #00ffff;
  --color-neon-shadow: #00ff;
  --color-sub-neon: #76abae;
}

body {
  background-color: var(--color-main-bg);
}
p {
  color: var(--color-text);
}

.form-responsive {
  @apply w-full sm:w-10/12 md:w-6/12 lg:w-4/12 xl:w-3/12 2xl:w-2/12;
}
