/* You can add global styles to this file, and also import other style files */
@import "@fontsource/goldman";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #222831;
  --color-secondary: #31363f;
  --color-accent: #76abae;
  --color-details: #eeeeee;
  --color-main-bg: #1f252d;
}

body {
  background-color: var(--color-main-bg);
}
